<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h3><%= title %></h3>
<p>Login successful!<br>
    <a href="/connection">Head to Sockets.</a> </p>
</body>
</html>