<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h3><%= title %></h3>
<p>Registration successful!<br>
(Add more links later)</p>
</body>
</html>