<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h3><%= title %></h3>
<p>You have seen the secret page!<br>
   The treasure is under the rug!</p>
<p><a href="/logout">Logout</a> </p>
</body>
</html>